<!DOCTYPE html>
<html lang="en">
<head>
    <style>
       body{
            margin: 0;
            padding: 0;
            font-size: 14px;
        }
        .container{
            font-family: Arial, Helvetica, sans-serif; 
        }
        #content{
            width: 25rem;
            color: black;
        }
        img{
            display: block;
        }
        span{
            margin: 1rem 0px;
            display: block;
        }
        p{
            text-align: justify;
            line-height: 1.6;
        }

        @media (max-width: 376px) {
            #content{
            width: 20rem;
            }
        }

    </style>
</head>
<body>
    <div class="container">
        <span class="align-image">
            <img src="https://firebasestorage.googleapis.com/v0/b/test-2e44b.appspot.com/o/serraforte%2FDesign%20sem%20nome%20(5).png?alt=media&token=3d6f99c8-6CB0-43b4-89c6-317358fcd9a1" alt="logo ferramentas">
        </span>

        <div id="content">
            <span>Olá {{name}},</span>

            <span>
                <p>
                    Recebemos seu pedido e aguardamos o pagamento que deverá ocorrer em até (data e hora completa de 24 horas) para confirmar o seu pedido. Após esse prazo, sem a confirmação do pagamento, o seu pedido será cancelada automaticamente.
                </p>
            </span>

            <span>
                <p>
                    Estamos ansiosos esperando você. Abaixo, mais detalhes do seu pedido.
                </p>
            </span>

            <span>
               <p>Detalhes do seu pedido:</p>
            </span>

            {{!-- Detalhes pedidos  --}}
            <span>
                <p>
                    • Cliente: {{variables.order.user.name}}
                </p>
                <p>
                    • E-mail: {{variables.order.user.email}}
                </p>

                <p>
                    • Whatapp: {{variables.order.user.phone}}
                </p>
                {{#if (isNotNull variables.order.delivery.address) }}
                   <p>
                    • Endereço de entrega: {{variables.order.delivery.address.street}}, {{variables.order.delivery.address.num}} - {{variables.order.delivery.address.zipCode}} - {{variables.order.delivery.address.city}} - {{variables.order.delivery.address.state}}
                </p>
                {{else}}
                   <p>
                    • Endereço de entrega: Retira pedido na loja
                   </p>
                {{/if}}

                <p>
                    • Items:
                {{#each variables.order.items}}
                    <p style="padding-left: 1rem;">• {{this.name}}({{this.quantity}}) - {{formatCurrency this.price "R$"}}</p>
                {{/each}}

                </p>
               {{#if (isNotNull link) }}
                    <p>• Fatura: <a href="{{link}}">{{link}}</a></p>
                {{else}}
                    <!-- Caso contrário, não exibe nada -->
                {{/if}}

                <p>
                    • Forma de pagamento: {{formatPaymentMethod variables.order.payment.paymentMethod}}
                </p>


                <p>
                    • Preço: {{formatCurrency variables.order.total "R$"}}
                </p>
            </span>

            <span></span>

            <span>
                Obrigado por escolher a Ferramentas Ecommerce!
            </span>

            <span>
                comercial@ferramentas.com.br
            </span>
        </div>
    </div>
</body>
</html>